@model VanillaJq.ViewModels.FinancingTileVM


<div class="thumbnail tile tile-wide tile-carrot">
    <i class="fa fa-money tile-head"></i>

    @if (Model.IsEmpty)
    {
        <div>noch keine Finanzierung konfiguriert</div>
    }

</div>