@using VanillaJq.Extensions
<div class="row" @Html.Module("view/shared/tilebar")>
    <div class="col-md-12" id="custTileContainer">
        <div class="thumbnail tile tile-wide tile-purple">
            <div class="la-cube-transition la-3x">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="vehicleTileContainer">
        <div class="thumbnail tile tile-wide tile-midnight-blue">
            <div class="la-cube-transition la-3x">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="financeTileContainer">
        <div class="thumbnail tile tile-wide tile-carrot">
            <div class="la-cube-transition la-3x">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>
