@model VanillaJq.ViewModels.VehicleTileVM

<div class="thumbnail tile tile-wide tile-midnight-blue">
    <i class="fa fa-car tile-head"></i>

    <div>@Html.DisplayFor(m => m.DisplayText)</div>
    <div>@Html.DisplayFor(m => m.DisplayDetailText)</div>
</div>
